body {
    background-image: url(images/fondlandingpage.png);
    margin: 0;
    padding: 0;
    color: black;
    font-size: 16px;
    font-family: 'Schibsted Grotesk', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    width: 1200px;
  margin: 20px auto;
}
.banner{
    background-image: url(images/Bananebanner.png);
    background-position: center; 
    background-size: cover;
    padding: 100px 0;
    text-align: center;
    font-family: 'Kalam', cursive;
}
.banner p{
    color: white;
    font-size: 20px;
    font-family: 'Kalam', cursive;
    width: 1000px;
  margin: 20px auto;
}

h1{
color: white;
font-size: 50px;
}

.card2 h2{
    font-size: 15px;
    font-family: 'Schibsted Grotesk', sans-serif;
    margin: 0;
    padding: 5px;
}

.card p{
    font-size: 15px;
    font-family: 'Schibsted Grotesk', sans-serif;
    margin: 0;
    padding: 0;
}

.card2 {
    background-color: white;
    padding: 6px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 8px;
    border-radius: 5px;
    text-align: center;
    transition: 0.5s;
}
.card2 img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 4px;
}
.card2-inline{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.card2:hover{
    transform: scale(1.1);
}
.div2{
    text-align: center;
    padding: 10px;
}

.listreseaux li{
    display: inline;
}
.listreseaux i{
    letter-spacing: 40px;
    transition: 0.8s; 
    font-size: 50px;
    color: grey;
}
.listreseaux i:hover{
    color: red; 
    transform: scale(1.6)
} 
.div5{  text-align: center;

}

@media (max-width:960px) {
    .container {
        width: 1200px
    }
    .card-inline {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width:720px) {
    .container {
        width: 680px
    }
    .card-inline {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:540px) {
    .container {
        width: 480px
    }
    .card-inline {
        grid-template-columns: 1fr;
    }
}